In [1]:
import numpy as np
import pandas as pd
pd.__version__

'1.1.2'

In [2]:
df = pd.DataFrame({'id': range(5), 
                   'gender': np.random.choice(['M', 'F'], 5), 
                   'characters': ['active/earnest', 
                                  'funny', 
                                  'active/dedicated/earnest', 
                                  'dedicated/disciplined', 
                                  'active/disciplined']})
df

   id gender                characters
0   0      F            active/earnest
1   1      M                     funny
2   2      F  active/dedicated/earnest
3   3      F     dedicated/disciplined
4   4      F        active/disciplined

In [3]:
series_characters = df['characters'].str.split('/')
series_characters

0               [active, earnest]
1                         [funny]
2    [active, dedicated, earnest]
3        [dedicated, disciplined]
4           [active, disciplined]
Name: characters, dtype: object

In [4]:
series_characters = series_characters.apply(lambda lst: pd.Series(dict.fromkeys(lst, True)))
series_characters

  active earnest funny dedicated disciplined
0   True    True   NaN       NaN         NaN
1    NaN     NaN  True       NaN         NaN
2   True    True   NaN      True         NaN
3    NaN     NaN   NaN      True        True
4   True     NaN   NaN       NaN        True

In [5]:
df_new = pd.concat([df, series_characters], axis=1).fillna(False)
df_new

,id,gender,characters,active,earnest,funny,dedicated,disciplined
0,0,F,active/earnest,True,True,False,False,False
1,1,M,funny,False,False,True,False,False
2,2,F,active/dedicated/earnest,True,True,False,True,False
3,3,F,dedicated/disciplined,False,False,False,True,True
4,4,F,active/disciplined,True,False,False,False,True